body {
    width: 100%;
    background-color: #00AE52;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    text-align: center;
}
img {
    width: 200px;
    height: 200px;
}

.logo {
    text-align: center;
}

.container {
    font-family: 'Nunito', sans-serif;
    max-width: 400px;
    margin: auto;
    background-color: rgb(164, 164, 164);
    padding: 20px;
    border-radius: 10px;
}
h1 {
    color: white;
}
input {
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 3.6rem;
    border: none;
}
#buttonDiv {
    text-align: center;
}
button {
    background-color: #00AE52;
    border-radius: 3.6rem;
    cursor: pointer;
    font-size: 0.9rem;
    border: none;
    padding: 0.5rem;
    font-weight: bold;
    color: white;
}
#footerDiv {
    font-family: 'Nunito', sans-serif;
    max-width: 300px;
    margin: auto;

    border-radius: 10px;
    color: white;
    font-weight: bold;

}
p {
    font-family: 'Nunito', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
footer {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: 2.0rem;
}

a {
    text-decoration: none;
    color: white;
}

h4 {
    color: white;
}